body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-image: url("/encriptar-cifrar-android.jpg");
    background-size: cover;  /* Hace que la imagen cubra toda la pantalla */
    background-position: center;  /* Centra la imagen */
    background-repeat: no-repeat;  /* Evita que la imagen se repita */
    height: 100vh;  /* Asegura que el cuerpo ocupe al menos la altura completa de la ventana */
    color: white;  /* Color del texto en blanco para mayor contraste */
}

textarea {
    width: 80%;  /* Ancho del textarea */
    height: 50px;  /* Altura del textarea */
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.5);  /* Fondo oscuro con transparencia */
    color: white;  /* Color del texto en blanco */
}

button {
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.7);  /* Botones semi-transparentes */
    color: white;  /* Color del texto en blanco */
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.3);  /* Efecto hover para el botón */
}

footer {
    margin-top: 20px;
    text-align: center;
    color: white;  /* Texto en blanco */
}

footer a {
    color: white;  /* Enlaces en blanco */
    text-decoration: none;  /* Sin subrayado */
}

footer a:hover {
    text-decoration: underline;  /* Subrayado al pasar el ratón por encima */
}